################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

.idea/
.vs/
bin/
obj/
/packages/
/Output/
/ipch/
/References
*.suo
*.user
*.DotSettings*
*.dgml
*.VC.opendb
*.VC.db
*.idb
*.sdf
*.tlog
*.meta
*.log
/Memoria.Injection/Debug/
/Memoria.Injection/Release/
/Memoria.Injection/x64/
