################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
/packages/
/Output/
/.idea/
/.vs/
/ipch/
*.suo
*.user
*.DotSettings*
*.dgml
*.VC.opendb
*.VC.db
*.idb
*.sdf
*.tlog
*.meta
